#indexPg{
    background-image: linear-gradient(red, yellow);
    height: 100%;
}

.pageColor{
    background-color: lightblue;
}

h1{
    color: grey;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}